@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

body {
    transition: background-color 0.2s ease-in-out, color 0.01s ease;
}

/* Header n Nav */

.header {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 5rem;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.logo {
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.nav-links {
    display: flex;
    gap: 2rem;
}

li {
    padding-top: 10px;
}

li a {
    position: relative;
    color: white;
    font-weight: 300;
}

li a::before {
    position: absolute;
    content: '';
    width: 0;
    left: 0;
    height: 5px;
    top: 25px;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
}

li a:hover::before {
    width: 100%;
}

@property --myColor1 {
    syntax: '<color>';
    initial-value: rgb(0, 157, 255);
    inherits: false;
  }
  
  @property --myColor2 {
    syntax: '<color>';
    initial-value: rgb(255, 0, 255);
    inherits: false;
  }

.visit-btn {
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, var(--myColor1), var(--myColor2));
    transition: --myColor1 0.6s, --myColor2 0.6s;

}

.visit-btn:hover {
    transform: scale(1.03);
    --myColor1: rgb(255, 0, 255);
    --myColor2: rgb(0, 157, 255);
}

#menu-btn {
    font-size: 2rem;
    display: none;
}



/* Main */

section {
    min-height: 100vh;
    padding: 8rem 12%;
    width: 100%;
    position: relative;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.about img {
    width: 28vw;
    border-radius: 50%;
}

.info-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.info-box h3 {
    font-size: 1.8rem;
    font-weight: 500;
    opacity: 0.8;
}

.info-box h1 {
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    transition: 0.3s ease-in-out;
}

.info-box h1:hover {
    transform: scale(1.1);
}

.info-box h5 {
    margin-top: 10px;
}

.info-box span {
    background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
    background-clip: text;
    color: transparent;
    font-size: 2rem;
}

.btn-group {
    display: flex;
    gap: 1rem;
}

.btn {
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid black;
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: 0.2s ease-in-out;
}

.linkk {
    color: inherit;
    text-decoration: none;
}

.btn:hover {
    background-color: black;
    color: white;
    transform: scale(1.05);
}

.social {
    display: flex;
    gap: 2rem;
}

.social a i {
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: black;
}

.social a i:hover {
    transform: scale(1.2);
}

/* Experience */

.section-title {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.expirence-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.experience img {
    width: 24vw;
    border-radius: 3rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.grid-card {
    border: 2px solid black;
    border-radius: 3rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
}

.grid-card:hover {
    transform: scale(1.02);
    background-color: black;
    color: white;
}

.grid-card i {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.grid-card p i {
    font-size: 18px;
}

.grid-card span {
    font-size: 1.5rem;
    font-weight: 500;
    background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
    background-clip: text;
    color: transparent;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: rgb(219, 219, 219);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, rgb(0, 157, 255), rgb(255, 0, 255));

}

/* Projects */

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.projects-card {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    border: 2px solid black;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.projects-card:hover {
    background-color: black;
    color: white;
    transform: translateY(-10px)scale(1.02);
}

.projects-card img {
    width: 20vw;
    border-radius: 1rem;
}

.projects-card:hover .btn {
    border: 2px solid white;
    color: white;
}

.projects-card:hover .btn:hover {
    border: 2px solid white;
    background-color: white;
    color: black;
}

.projects-card h3 {
    font-size: 2rem;
    font-weight: 500;
}

/* Contact */

.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
}

.input-box h3 {
    margin-top: -3rem;
}

.input-box input {
    border-radius: 3rem;
    border: 2px solid black;
    padding: 2rem 8rem;
    font-size: 3rem;
}

.input-box input::placeholder {
    font-size: 2rem;
}

.input {
    position: relative;
}

.input i {
    position: absolute;
    font-size: 4rem;
    top: 50%;
    left: 10px;
    transform: translate(50%, -50%);
}

/* footer */

footer {
    bottom: 0;
    left: 0;
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

footer ul {
    display: flex;
    align-items: center;
    gap: 3rem;
}

footer ul li a {
    color: black;
    font-weight: 600;
}

.copyright {
    font-size: 300;
    margin-top: 2rem;
}

/* Dakr mode toggle */

.toggle-container {
    position: fixed;
    top: 1rem; 
    right: 1rem; 
    z-index: 1000; 
    display: flex;
    align-items: center;
}

.toggle-checkbox {
    display: none; 
}

.toggle-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #ddd;
    border-radius: 50px; 
    padding: 5px; 
    transition: background-color 0.3s ease;
}

.toggle-inner {
    display: flex;
    justify-content: space-between;
    width: 50px; 
}

.toggle-switch {
    width: 20px;
    height: 20px;
    background: white; 
    border-radius: 50%; 
    transition: transform 0.3s ease; 
}

.toggle-checkbox:checked + .toggle-label {
    background-color: grey; 
}

.toggle-checkbox:checked + .toggle-label .toggle-switch {
    transform: translateX(-40px);
}

.sun-icon,
.moon-icon {
    font-size: 1.5rem; 
    display: none; 
}

.toggle-checkbox:checked + .toggle-label .sun-icon {
    display: none; 
}

.toggle-checkbox:checked + .toggle-label .moon-icon {
    display: inline; 
    transform: translateX(30px);
}

.toggle-label .sun-icon {
    display: inline; 
}


/* responsiveness */

@media(max-width:1280px) {
    header {
        padding: 1rem 2rem;
        gap: 2rem;
    }

    .about .about-container {
        gap: 3rem;
    }

    .expirence-info {
        flex-direction: column;
    }

    .input-box input {
        padding: 2rem 5rem;
        font-size: 2.5rem;
    }

    .input input::placeholder {
        font-size: 2.5rem;
    }

    .input-box i {
        font-size: 2.5rem;
    }
}

@media(max-width:968px) {
    header {
        gap: 1rem;
        padding: 1rem 1rem;
    }

    header .logo {
        font-size: 1.2rem;
    }

    .about-container {
        flex-direction: column;
    }

    .projects-card .btn{
        padding: 1rem;
    }

    .input-box input {
        padding: 1rem 2rem;
        font-size: 1.5rem;
    }

    .input-box i {
        display: none;
    }

    .input input::placeholder {
        font-size: 1.5rem;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .expirence-info img {
        width: 70vw;
    }

    .toggle-container {
        position: fixed;
        top: 0.5rem; 
        right: 0.5rem; 
        z-index: 1000; 
    }
    .toggle-label{
        width: 30px;
        height: 30px;
    }

    .sun-icon,
    .moon-icon {
    font-size: 1rem; 
    }
    
    .toggle-checkbox:checked + .toggle-label .moon-icon {
        transform: translateX(0px);
    }

    .toggle-switch{
        display: none;
    }
    
}

@media(max-width:800px) {
    header #menu-btn {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        margin-top: 1rem;
        width: 100%;
        padding: 1rem;
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 3rem;
        display: none;
    }

    .nav-links li {
        margin-top: 1.5rem;
        padding: 1rem;
    }

    .nav-links.active {
        display: block;
    }

    header {
        padding: 1rem 5rem;
        gap: 8rem;
    }

    header .logo {
        font-size: 1.5rem;
    }

    header .visit-btn{
        margin-top: 12px;
    }

    .about-container img {
        width: 80vw;
    }

    .projects-card .btn{
        padding: 0.5rem;
    }

    .input-box input {
        padding: 2rem;
        width: 80%;
        font-size: 1.5rem;
    }

    .input-box input::placeholder {
        font-size: 1rem;
    }

    footer ul {
        gap: 1rem;
    }
}



